Repository hmcts/ia-case-access-api, pull requests merged in 2021-06, with the labels that each got.

#19 elastic search api 7.11.2
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-19

#15 Ria 4268 functional test framework
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/SupplementaryDetailsResponseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/WelcomeFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/scenarios/ReconcileCaseDataFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/DocumentUploadClientApiConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/clients/ExtendedCcdApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/clients/ExtendedIdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/BinaryResourceLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/CaseDataFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/DocumentManagementFilesFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/DocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/IdamAuthProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/MapValueExpander.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/model/Document.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/documents/doc1.pdf
  src/functionalTest/resources/documents/doc2.pdf
  src/functionalTest/resources/documents/doc3.pdf
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/CoreCaseDataApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/ccd/CaseDataContent.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/ccd/StartEventTrigger.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/security/oauth2/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/security/oauth2/IdentityManagerResponseException.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-15

#22 functional test fix
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/scenarios/ReconcileCaseDataFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/CaseDataFixture.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-22

#23 missing surname integration test
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseIntegrationTest.java
  src/integrationTest/resources/ccd-search-result-empty-response.json
  src/integrationTest/resources/ccd-search-result-error-response.json
  src/integrationTest/resources/ccd-search-result-missing-surname-response.json
  src/integrationTest/resources/ccd-search-result-response.json
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-23

#24 distinct CCD ids
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/scenarios/ReconcileCaseDataFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsController.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-24

#27 Application name change in spring conf
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-27
