Repository hmcts/ia-case-access-api, pull requests merged in 2021-05, with the labels that each got.

#14 whitelist Payments app
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-14

#10 RIA-4266 CCD search API client and query relevant case data for surna…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-access-api/Chart.yaml
  charts/ia-case-access-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/IntegrationConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithCoreCaseApiStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithIdamStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithServiceAuthStub.java
  src/integrationTest/resources/ccd-search-result-empty-respons.json
  src/integrationTest/resources/ccd-search-result-error-respons.json
  src/integrationTest/resources/ccd-search-result-respons.json
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/CoreCaseDataApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/ccd/SearchResult.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsController.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/model/SupplementaryDetailsResponse.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/security/oauth2/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/security/oauth2/IdentityManagerResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/service/CcdSupplementaryDetailsSearchService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/service/CcdSupplementaryDetailsSearchServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-10

#17 fix Security scan
  .github/workflows/swagger.yml
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-17
