Repository hmcts/ia-case-access-api, pull requests merged in 2023-05, with the labels that each got.

#56 Updated dependencies to remove suppressed CVEs
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithIdamStub.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsController.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-56

#58 RIA-7126 Update terraform dependencies
  infrastructure/.terraform-version
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, no-changes, rel:ia-case-access-api-pr-58

#60 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-60
