Repository hmcts/ia-case-access-api, pull requests merged in 2023-07, with the labels that each got.

#69 Revert "RIA-6892 Solving additional CVEs."
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-69

#64 RIA-7312 - all upgrades for java 17
  .github/workflows/swagger.yml
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-access-api/Chart.yaml
  charts/ia-case-access-api/values.yaml
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/clients/ExtendedCcdApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/clients/ExtendedIdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/data/CaseDataFixture.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/IntegrationConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithCoreCaseApiStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/WithIdamStub.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/CcdApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/clients/CoreCaseDataApi.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsController.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/service/CcdSupplementaryDetailsSearchService.java
  src/smokeTest/java/uk/gov/hmcts/reform/iacaseaccessapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/controllers/SupplementaryDetailsResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/health/DownStreamHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/health/ServiceHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/service/CcdSupplementaryDetailsSearchServiceTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-access-api-pr-64

#68 RIA-7383 - preventing application startup if secrets can't be found
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-access-api/Chart.yaml
  charts/ia-case-access-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/ConfigValidatorAppListener.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/ConfigValidatorAppListenerTest.java
Labels: ns:ia, prd:ia, no-changes, rel:ia-case-access-api-pr-68
