Repository hmcts/ia-case-access-api, pull requests merged in 2023-11, with the labels that each got.

#81 DIAC-67 fixing the non running functional tests
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/scenarios/ReconcileCaseDataFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacaseaccessapi/testutils/FunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iacaseaccessapi/infrastructure/security/oauth2/IdamSystemTokenGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-81

#94 DIAC-000 upgraded java chart version
  charts/ia-case-access-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-94

#97 DIAC-002 adding dependency
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-97
