Repository hmcts/ia-case-access-api, pull requests merged in 2023-10, with the labels that each got.

#77 DIAC-49 fixing nightly
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-77

#79 DIAC-49 tuyrning renovate automerge off
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-79

#88 DIAC-000 Dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-88

#80 DIAC-2 updating config options for renovate
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-access-api-pr-80
